@media only screen and (max-device-width: 443px){
    .col-s-2{
    background:url("../Portfolio/images/PD.png") no-repeat center center;
    height: 100vh;
    width: 100%;
    }

    .col-2-s-2{
    background:url("../Portfolio/images/PDa.png") no-repeat center center;
    height: 100vh;
    width: 100%;
}

    .dot-s-2 {
    height: 44%;
    width: 70%;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-top: 42%;
    margin-left: 16%;
    }

    .view-prof-s-2{
    font-family: Lucida Bright;
    text-decoration: none;
    color: white;
    display: block;
    padding: 124px 0;
    font-size: 80;
    font-weight: bold;
    margin: 200;
    margin-left: 120;
    text-align: center;
}

    .home-svg-s-2 img{
    width: 7em;
    margin-left: 10%;
    padding-top: 20;
    height: 7em;
    display: block;
}

.profile-picture-s-2 img{
    border-radius: 50% 50% 50% 50%;
    display: block;
    width: 420px;
    height: 420px;
    border: 2px solid whitesmoke;
    margin-left: 30%;
    margin-top: -50px;
}

.profile-indent-s-2{
    margin-left: 34.5%; 
}

.profile-details-s-2{
     margin-left: 3%;  
    font-family: Lucida Bright;
    text-align: center;
    letter-spacing: 1px;
    font-size: 50px;
}

hr{
    display: block;
    height: 0px;
    width: 34.5%;
    border: 0;
    border-top: 4px solid #8eb2ff;
    margin: 1em 0;
    padding: 0;
}

.dot-ico-fb-s-2 img{
    cursor: pointer;
    border-radius: 50% 50% 50% 50%;
    height: 88px;
    width: 88px;
    border: 2px solid #4878ec;
    border-radius: 50%;
    float: right;
    display: block;
    margin-top: 700;
    margin-right: 90;
}

.dot-ico-fb-s-2 img:hover{
    transform: rotate(-360deg);
    transition: all 0.5s ease-in-out 0s;
    border: 2px solid whitesmoke;
    height: 88px;
    width: 88px;
}

.dot-ico-ig-s-2 img:hover{
    transform: rotate(360deg);
    transition: all 0.6s ease-in-out 0s;
    border: 2px solid whitesmoke;
    height: 90px;
    width: 90px;
}

.dot-ico-ig-s-2 img{
    cursor: pointer;
    border-radius: 50% 50% 50% 50%;
    height: 90px;
    width: 90px;
    border: 2px solid #4878ec;
    border-radius: 50%;
    margin-right: 25px;
    float: right;
    display: inline-block;
    margin-top: 25;
}

.dot-ico-twt-s-2 img{
    cursor: pointer;
    border-radius: 50% 50% 50% 50%;
    width: 90px;
    height: 90px;
    border: 2px solid #4878ec;
    border-radius: 50%;
    float: right;
    margin-right: 20px;
    display: inline-block;
    margin-top: 25;
}

.content-box-s-2{
    width: 80%;
    height: 40%;
    margin-left: 100px;
    margin-top: -40;
    border-radius: 1% 1% 1% 1%;
    display: block;
    border: 2px solid #8eb2ff;
}

.h-des-s-2 {
    padding: 0;
    border-bottom: 1.5px solid lightgrey;
    width: 90%;
    margin-left: 40;
    margin: 10 10 10 40;
    font-size: 70;
}

.p-des-s-2{
    text-indent: 50;
    font-size: 30px;
    text-align: justify;
    padding-left: 60px;
    padding-right: 0px;
    padding-bottom: 20;
}

}