*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.col-1{
    background:url("../Portfolio/images/PD.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.col-2{
    background:url("../Portfolio/images/PDa.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.col-3{
    width: 100%;
}

.col-4{
    width: 100%;
}

ul, li{
    list-style: none;
}

.home-svg img{
    width: 4.5em;
    margin-left: 10;
    padding-top: 10;
    height: 4em;
    display: block;
}

.content-box{
    width: 60%;
    height: 53%;
    margin-left: 100px;
    margin-top: -40;
    border-radius: 1% 1% 1% 1%;
    display: block;
    border: 2px solid #8eb2ff;
}

.box-design img{
    width: 100px;
    height: 100px;
    margin-left: 70px;
    margin-top: -60px;
}

.dot {
    height: 46%;
    width: 310px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-top: 12%;
    margin-left: 37.4%;  
}

.dot-ico-fb img{
    cursor: pointer;
    border-radius: 50% 50% 50% 50%;
    height: 120px;
    width: 120px;
    border: 2px solid #4878ec;
    border-radius: 50%;
    float: right;
    display: inline-block;
    margin-top: -260;
    margin-right: 60;
}

.dot-ico-fb img:hover{
    transform: rotate(-360deg);
    transition: all 0.5s ease-in-out 0s;
    border: 3px solid whitesmoke;
    height: 122px;
    width: 122px;
}

.dot-ico-ig img{
    cursor: pointer;
    border-radius: 50% 50% 50% 50%;
    height: 140px;
    width: 140px;
    border: 2px solid #4878ec;
    border-radius: 50%;
    margin-right: 220px;
    float: right;
    display: inline-block;
    margin-top: -190;
}

.dot-ico-ig img:hover{
    transform: rotate(360deg);
    transition: all 0.6s ease-in-out 0s;
    border: 3px solid whitesmoke;
    height: 142px;
    width: 142px;
}

.dot-ico-twt img{
    cursor: pointer;
    border-radius: 50% 50% 50% 50%;
    width: 90px;
    height: 90px;
    border: 2px solid #4878ec;
    border-radius: 50%;
    float: right;
    margin-right: 20px;
    display: inline-block;
    margin-top: -100;
}

.dot-ico-twt img:hover{
    transform: rotate(-360deg);
    transition: all 0.4s ease-in-out 0s;
    border: 3px solid #8eb2ff;
    height: 92px;
    width: 92px;
}

.profile-picture{
    width: 100%;
}

.profile-picture img{
    border-radius: 50% 50% 50% 50%;
    display: block;
    width: 160px;
    height: 160px;
    border: 2px solid whitesmoke;
    margin-left: 43.8%;
    margin-top: -60px;
}

.profile-indent{
    margin-left: 42.5%; 
}

.profile-details{
    /* margin-left: 43%;  */
    font-family: Lucida Bright;
    text-align: center;
    letter-spacing: 1px;
}

.h-des{
    padding: 0;
    border-bottom: 1.5px solid lightgrey;
    width: 90%;
    margin-left: 40;
}

.p-des{
    text-indent: 50;
    font-size: 18px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20;
}

hr{
    display: block;
    height: 0px;
    width: 200px;
    border: 0;
    border-top: 1.2px solid #8eb2ff;
    margin: 1em 0;
    padding: 0;
}

.solid-line-left{
    display: block;
    height: 360px;
    width: 0px;
    border: 0;
    border-left: 2px solid #8eb2ff;
    margin-top: -40px;
    margin-left: 100;
    padding: 0;
}

.view-prof{
    font-family: Lucida Bright;
    text-decoration: none;
    color: white;
    display: block;
    padding: 124px 0;
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 12;
    text-align: center;
}

.view-prof:hover{
    color: #8eb2ff;
}

.dot:hover {
    background-color: white;
}
